*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	margin: 0 auto;
	width: 1616px;
}
.l-topremovable{
	height: 36px;
}
.l-topnav{
	height: 90px;
}
.l-banner{
	height: 460px;
}
.l-featured-product{
	height: 277px;
}
.l-workplace{
	height: 242px;
}
.l-maincontent{
	height: 1382px; /*+172px bottom*/
}
.l-footer{
	height: 262px;
}